.all-chats {
  overflow: hidden;
}
.chat {
  padding: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.chat-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.chat-content {
  overflow: hidden;
}

.msg {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
