<div class="chat-screen">
  <div class="header">
    <div class="chat-pic" [routerLink]="['/', 'home']">
      <mat-icon>arrow_back</mat-icon>
      <img
        src="https://staticg.sportskeeda.com/editor/2022/08/53e15-16596004347246.png"
        alt="Naruto"
        class="chat-img"
      />
    </div>
    <div class="chat-info">
      <div class="title">Naruto Uzumaki</div>
      <div class="status">Online</div>
    </div>
    <div class="chat-actions">
      <mat-icon>videocam</mat-icon>
      <mat-icon>call</mat-icon>
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>
  <div class="main">
    <div class="chats"></div>
    <div class="text-input">
      <input type="text" />
    </div>
  </div>
</div>
