.chat-screen {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* HEADER */

.header {
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 15px;
}

.chat-pic {
  display: flex;
  align-items: center;
}

.chat-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.chat-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* MAIN CHAT */

.main {
  flex: 1;
  background-color: #222;
  display: flex;
  flex-direction: column;
}

.chats {
  flex: 1;
  overflow-y: auto;
}

.text-input {
  padding: 15px;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 5px;
}

.input-container {
  display: flex;
  // grid-template-columns: 1fr auto;
  align-items: center;
  gap: 15px;
}

.text-message {
  background-color: transparent;
  outline: none;
  border: none;
}

.send-button {
  border-radius: 50%;
  background-color: orange;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}

// CHAT

.chat {
  padding: 12px 12px 0 12px;
  display: flex;
}
.chat.right {
  justify-content: flex-end;
}
.chat.left > div {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: orange;
  width: fit-content;
  max-width: 60%;
}

.chat.right > div {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: white;
  color: black;
  width: fit-content;
  max-width: 60%;
}
