<div class="chat-screen" *ngIf="chat">
  <div class="header">
    <div class="chat-pic" [routerLink]="['/', 'home']">
      <mat-icon>arrow_back</mat-icon>
      <img [src]="chat.profilePic" alt="Naruto" class="chat-img" />
    </div>
    <div class="chat-info">
      <div class="title">{{ chat.name }}</div>
      <div class="status">Online</div>
    </div>
    <div class="chat-actions">
      <mat-icon>videocam</mat-icon>
      <mat-icon>call</mat-icon>
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>
  <div class="main">
    <div class="chats">
      <div *ngFor="let m of msgs" class="chat {{ m.side }}">
        <div>{{ m.message }}</div>
      </div>
    </div>
    <div class="input-container">
      <div class="text-input">
        <mat-icon>tag_faces</mat-icon>
        <input
          type="text"
          class="text-message"
          placeholder="Message"
          [(ngModel)]="myMessage"
        />
        <!-- <mat-icon>attachment</mat-icon>
        <mat-icon>attach_money</mat-icon>
        <mat-icon>camera</mat-icon> -->
      </div>
      <div class="send-button" (click)="send_message()">
        <mat-icon class="send">send</mat-icon>
      </div>
    </div>
  </div>
</div>
