.chats-home {
  background-color: black;
  height: 100vh;
}

/* HEADER */

.header {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  .menu {
    display: flex;
    gap: 20px;
  }
}
/* TABS */
