<div class="chats-home">
  <div class="header">
    <h1 class="header-title">Temari Chat</h1>
    <div class="menu">
      <mat-icon>camera_enhance</mat-icon>
      <mat-icon>search</mat-icon>
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>
  <mat-tab-group selectedIndex="1">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">group</mat-icon>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="text-white">Chats</div>
      </ng-template>
      <app-all-chats></app-all-chats>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="text-white">Status</div>
      </ng-template>
      Content 1
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="text-white">Calls</div>
      </ng-template>
      Content 1
    </mat-tab>
  </mat-tab-group>
</div>
